<!DOCTYPE html>
<html>
  <head>
    <title>MaplamDungannua</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <a class="navbar-brand" href="<%= root_path%>"><strong>Mập lắm rou!</strong></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="<%= root_path%>"><strong>Home</strong><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="<%= sections_path%>"><strong>Menu</strong><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Cart 
            <span class="badge badge-primary">
              <%= @cart.item_count %>
            </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
      <% flash.each do |key, value| %>
        <div class="alert <%= flasherize(key) %>"><%= value %></div>
      <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
